<style>
*:not(code, .katex *) {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    overflow: auto;
}

code, span:is(.highlight *) {
    font-family: 'Consola', 'Menlo', 'Courier New', Courier, monospace;
    border-radius: 4px;
    background-color: #f0f0f0 !important;
}

.highlight:is(pre)  {
    background-color: #f0f0f0 !important;
    box-shadow: inset 0 1px 1px rgba(255, 255, 2555, 0.3); 
    border-radius: 4px;

}

.highlight:is(div) {
    margin: 4px 8px;
    border-radius: 4px;

}
</style>